<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>

  <appSettings>
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />
    <add key="excelOutputDir" value="c:\Elrob\Pliki Excel"/>
    <add key="dailyReportRecipient" value="elrob@elrob.pl"/>
    <add key="Environment" value="Release"/>
  </appSettings>

  <connectionStrings>
    <add name="Elrob.Terminal.Properties.Settings.ElrobConnectionString"
      connectionString="Server=ELROBTERMINAL\SQLEXPRESS;User Id=ElrobTestUser;Password=testowehaslo123;Integrated Security=False;Initial Catalog=Elrob;"
      providerName="System.Data.SqlClient"/>
  </connectionStrings>

</configuration>