<?xml version="1.0"?>
<!-- For more information on using app.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">

  <appSettings>
    <add key="dailyReportRecipient" value="warmemotions@gmail.com" xdt:Locator="Match(key)" xdt:Transform="Replace"/>
    <add key="Environment" value="Debug" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
  </appSettings>

  <connectionStrings>
    <add name="Elrob.Terminal.Properties.Settings.ElrobConnectionString"
        connectionString="Data Source=PEDZEL-KOMPUTER\SQLEXPRESS;User Id=ElrobDevUser;Password=123;Integrated Security=False;Initial Catalog=Elrob;"
        providerName="System.Data.SqlClient" xdt:Locator="Match(name)" xdt:Transform="Replace" />
  </connectionStrings>
  
</configuration>