<?xml version="1.0"?>
<!-- For more information on using app.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">

  <appSettings>
    <add key="Environment" value="Debug" xdt:Transform="Replace" xdt:Locator="Match(key)"/>
  </appSettings>

  <connectionStrings>
    <add name="Elrob.Terminal.Properties.Settings.ElrobConnectionString"
        connectionString="Data Source=PEDZEL-KOMPUTER\SQLEXPRESS;Initial Catalog=Elrob;Integrated Security=True"
        providerName="System.Data.SqlClient" xdt:Locator="Match(name)" xdt:Transform="Replace" />
  </connectionStrings>

  <system.serviceModel>
    <client>
      <endpoint address="http://localhost:30761/ExcelService.svc" binding="basicHttpBinding"
          bindingConfiguration="BasicHttpBinding_IExcelService" contract="ExcelServiceServiceReference.IExcelService"
          name="BasicHttpBinding_IExcelService" xdt:Locator="Match(name)" xdt:Transform="Replace"/>
    </client>
  </system.serviceModel>

</configuration>