<?xml version="1.0"?>
<configuration>

  <appSettings>
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />
    <add key="excelOutputDir" value="c:\Elrob\Pliki Excel"/>
    <add key="dailyReportRecipient" value="warmemotions@gmail.com"/>
  </appSettings>

  <connectionStrings>
    <add name="Elrob.Terminal.Properties.Settings.ElrobConnectionString"
        connectionString="Data Source=PEDZEL-KOMPUTER\SQLEXPRESS;Initial Catalog=Elrob;Integrated Security=True"
        providerName="System.Data.SqlClient" />
  </connectionStrings>

  <system.web>
    <compilation debug="true" targetFramework="4.5.2" />
    <httpRuntime targetFramework="4.5.2"/>
  </system.web>
  <system.serviceModel>
    <services>
      <service name="Elrob.Webservice.ExcelService">
        <endpoint address="" contract="Elrob.Webservice.IExcelService" binding="basicHttpBinding" bindingConfiguration="TransferBinding" behaviorConfiguration="trafficBehavior"/>
      </service>
    </services>

    <extensions>
      <behaviorExtensions>
        <add name="trafficLoggerBehavior" type="Elrob.Webservice.MessageInspectors.TrafficLoggerBehaviorExtensionElement, Elrob.Webservice, Version=1.2.1.0, Culture=neutral" />
      </behaviorExtensions>
    </extensions>

    <bindings>
      <basicHttpBinding >
        <binding maxReceivedMessageSize="2147483647" maxBufferSize="2147483647" name="TransferBinding">
          <readerQuotas maxDepth="2147483647" maxStringContentLength="2147483647"
                   maxArrayLength="2147483647" maxBytesPerRead="2147483647"
                   maxNameTableCharCount="2147483647"/>
        </binding>
      </basicHttpBinding>
    </bindings>
    <behaviors>
      <serviceBehaviors>
        <behavior>
          <serviceMetadata httpGetEnabled="true"/>
          <serviceDebug includeExceptionDetailInFaults="true"/>
        </behavior>
      </serviceBehaviors>
      <endpointBehaviors>
        <behavior name="trafficBehavior">
          <trafficLoggerBehavior />
        </behavior>
      </endpointBehaviors>
    </behaviors>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true" />
  </system.serviceModel>

</configuration>

<!--http://elrobterminal/Elrob.Terminal/ExcelService.svc?wsdl-->