<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Elrob.Terminal.Properties.Settings.ElrobConnectionString"
            connectionString="Data Source=PEDZEL-KOMPUTER\SQLEXPRESS;Initial Catalog=Elrob;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <system.serviceModel>
      <bindings>
        <basicHttpBinding>
          <binding name="BasicHttpBinding_IExcelService" />
        </basicHttpBinding>
      </bindings>
        <client>
            <endpoint address="http://localhost:30761/ExcelService.svc" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_IExcelService" contract="ExcelServiceServiceReference.IExcelService"
                name="BasicHttpBinding_IExcelService" />
        </client>
    </system.serviceModel>
</configuration>

<!--        <add name="Elrob.Terminal.Properties.Settings.ElrobConnectionString"-->
<!--            connectionString="Data Source=ELROBTERMINAL\SQLEXPRESS;Initial Catalog=Elrob;Integrated Security=True"-->
<!--            providerName="System.Data.SqlClient" />-->