<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="excelOutputDir" value="c:\Elrob\Pliki Excel"/>
  </appSettings>

  <connectionStrings>
    <add name="Elrob.Terminal.Properties.Settings.ElrobConnectionString"
        connectionString="Data Source=PEDZEL-KOMPUTER\SQLEXPRESS;Initial Catalog=Elrob;Integrated Security=True"
        providerName="System.Data.SqlClient" />
  </connectionStrings>

  <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
</configuration>